.logo {
    height: 40px;
}

.bg-img {
    background-image: url('./Recursos_Amazing_Events_Task_1/optional_banner_4.jpg');
    background-repeat: no-repeat;   
    background-size: cover; 
    background-position: center;
}

.image {
    height: 40vh;
    object-fit: cover;
    object-position: center;
}

.carousel-text {
    font-weight: bold;
    font-size: 30px;
}

.card{
    height: 30rem;

}
.card-img-top {
    height: 50%;
    object-fit: cover;
}

.social {
    height: 40px;
    width: 40px;

}

tr {
    height: 2rem;
}